/*
______________            ______      ______   
___  __ )__  /_____ _________  /__    __( _ )  
__  __  |_  /_  __ `/  ___/_  //_/    _  __ \/|
_  /_/ /_  / / /_/ // /__ _  ,<       / /_/  < 
/_____/ /_/  \__,_/ \___/ /_/|_|      \____/\/ 
                                               
________           ______                      
___  __ \_____________  /______________        
__  / / /  _ \  ___/_  //_/  _ \_  ___/        
_  /_/ //  __/ /__ _  ,<  /  __/  /            
/_____/ \___/\___/ /_/|_| \___//_/   for VacuumTube (Oct 16 2025)         
                                       
*/


/* --- You can easily change the 
        color of elements 
        by modifying the colors 
        of the root varriables here */
:root {
    --background-color: black;
    --accent: #858585;
    --focused-titles: rgb(204, 197, 195);
    --thumbnail-radius: ;
}

/* ------ Elements themselves ---------- */

/* color of background */
.ytLrTvBrowseRendererHost,
.ytLrGuideResponseCollapsed .ytLrGuideResponseContainer,
[class="ytVirtualListContainer"],
.ytLrClassicSearchPageHost,
.ytLrAccountSelectorHost,
.ytLrGuideResponseContainer,
.ytLrAnimatedOverlaySidesheet .ytLrAnimatedOverlayContainer, .ytLrTvSurfaceContentRendererContentHasOffsetInlineSearchBar {
    background-color: var(--background-color) !important;
}

/* highlighted borders */
.ytLrTileRendererFocused.ytLrTileRendererFocusAppearanceRing .ytLrTileRendererHeader.ytLrTileRendererHeader::after {
    border-color: var(--accent) !important;
    border: solid 2px;
}

/* focused buttons */
.ytLrButtonListShape.ytLrButtonFocused {
    background-color: var(--accent) !important;
}

/* focused videos */
.ytLrTileMetadataRendererHighlighted .ytLrTileMetadataRendererTitle {
    color: var(--focused-titles);
}
.ytLrTileRendererFocused.ytLrTileRendererFocusAppearanceRing .ytLrTileRendererHeader.ytLrTileRendererHeader {
  
}

/* search bar */
.ytLrTextBoxFocusable, .ytLrSearchVoiceMicButtonHost {
    background-color: black !important;
    border: var(--accent) solid 2px;
}

/* logo */
#container > ytlr-app > zn-lazy-54 > ytlr-guide-response > ytlr-redux-connect-ytlr-logo-entity > ytlr-logo-entity > ytlr-thumbnail-details {
    filter: grayscale(1);
}
/* 
/////////////////////////////
//// YOUR ADDITIONS HERE
////////////////////////////
*/
